.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin: 0 0 0 5%;
  min-width: 288px;
}

/*
@media all and (max-width: 425px) {
    .selector {
        
    }
}

@media all and (min-width: 426px) {
    .selector {
        
    }
}

@media screen and (min-width: 768px) {
    .selector {
        
    }
}

@media screen and (min-width: 1024px) {
    .selector {
        
    }
}

@media screen and (min-width: 1280px) {
    .selector {
        
    }
}
*/