.page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: auto;
    -moz-text-size-adjust: auto;
    -ms-text-size-adjust: auto;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
}


@media screen and (min-width: 1280px) {
    .page {
        max-width: 1280px;
        margin: 0 auto;
    }
}