.lead__group-4 {
  position: absolute;
  width: 95.1%;
}

@media all and (max-width: 424px) {
    .lead__group-4 {
        top: 29%;
        left: 3%;
    }
}

@media all and (min-width: 425px) {
    .lead__group-4 {
        top: 26%;
        left: 3%;
    }
}

@media screen and (min-width: 768px) {
    .lead__group-4 {
        top: 23.5%;
        left: 3%;
    }
}

@media screen and (min-width: 1024px) {
    .lead__group-4 {
        top: 22%;
        left: 3%;
    }
}

@media screen and (min-width: 1280px) {
    .lead__group-4 {
        top: 21.5%;
        left: 3%;
    }
}