.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  z-index: 2;
}


@media all and (max-width: 425px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media all and (min-width: 426px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        max-width: 230px;
    }
}