.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
/* or 114% */
  text-align: center;
  margin: 0;
}

/*
@media all and (max-width: 425px) {
    .selector {
        
    }
}

@media all and (min-width: 426px) {
    .selector {
        
    }
}

@media screen and (min-width: 768px) {
    .selector {
        
    }
}

@media screen and (min-width: 1024px) {
    .selector {
        
    }
}

@media screen and (min-width: 1280px) {
    .selector {
        
    }
}
*/