.place__website__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
/* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #aaa;
}

/*
@media all and (max-width: 425px) {
    .selector {
        
    }
}

@media all and (min-width: 426px) {
    .selector {
        
    }
}

@media screen and (min-width: 768px) {
    .selector {
        
    }
}

@media screen and (min-width: 1024px) {
    .selector {
        
    }
}

@media screen and (min-width: 1280px) {
    .selector {
        
    }
}
*/