.header__logo {
    height: 100%;
}

@media all and (max-width: 425px) {
    .header__logo {
        min-width: 142px;
    }
}

@media all and (min-width: 426px) {
    .header__logo {
        min-width: 176px;
    }
}