.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  margin: 0 auto;
}

@media all and (min-width: 425px) {
  .lead__title {
    font-size: 55px;
    line-height: 105%;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 104%;
    max-width: 720px;
  }
}