.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
}

.place__paragraph p {
    margin: 0;
}

@media all and (max-width: 425px) {
    .place__paragraph {
        gap: 25px;
        margin: 32px 16px 0;
    }
}

@media all and (min-width: 426px) {
    .place__paragraph {
        gap: 25px;
        margin: 32px 16px 0;
    }
}

@media screen and (min-width: 768px) {
    .place__paragraph {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        gap: 26px;
    }
}