.cover {
  min-width: 320px;
  min-height: 200px;
  position: relative;
  margin-top: 66px;
  background-image: url(../../images/cover__bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}