.cover__overlay {
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__overlay:hover {
    opacity: 0.8;
}
/*
@media all and (max-width: 425px) {
    .selector {
        
    }
}

@media all and (min-width: 426px) {
    .selector {
        
    }
}

@media screen and (min-width: 768px) {
    .selector {
        
    }
}

@media screen and (min-width: 1024px) {
    .selector {
        
    }
}

@media screen and (min-width: 1280px) {
    .selector {
        
    }
}
*/