.cover__title {
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin: 0;
  z-index: 2;
}

@media all and (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 230px;
    }
}

@media all and (min-width: 426px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 33px auto 0;
        max-width: 230px;
    }
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        margin: 115px 104px 0;
        max-width: 460px;
    }
}
/*
@media screen and (min-width: 1024px) {
    .cover__title {
        margin: 195px 232px 0;
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
        margin: 245px 312px 0;
    }
}