.place:last-of-type {
    margin: 0;
}

@media all and (max-width: 425px) {
    .place {
        margin-bottom: 50px;
    }
}

@media all and (min-width: 426px) {
    .place {
        margin-bottom: 55px;
    }
}

@media screen and (min-width: 768px) {
    .place {
        margin-bottom: 73px;
        display: grid;
        grid-template-areas:
        'title website'
        'image paragraph'
        '. paragraph';
        column-gap: 28px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        margin-bottom: 80px;
        column-gap: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        column-gap: 40px;
    }
}