.footer {
    display: flex;
    flex-direction: column;
    padding: 64px 0 24px 16px;
}

@media all and (min-width: 425px) {
    .footer {
        padding: 70px 0 18px 20px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 88px 24px 24px;
        width: calc(100% - 48px);
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding: 92px 48px 24px;
        width: calc(100% - 96px);
    }
}