.lead__block {
    position: relative;
    margin: 0;
}


@media all and (max-width: 425px) {
    .lead__block {
        margin-top: 40px;
        min-height: 200px;
    }
}

@media all and (min-width: 426px) {
    .lead__block {
        margin-top: 48px;
    }
}

@media screen and (min-width: 768px) {
    .lead__block {
        margin-top: 56px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__block {
        margin: 0 48px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__block {
        margin: 64px 148px 0;
    }
}